
h1{
  /* font-size: 20px; */
  /* margin-bottom: 15px; */
  /* text-align: left; */
  border-bottom: solid 6px ;
  /* margin-left: 20px; */
  }

  h2{
    border-bottom: solid 4px ;
      text-align: center;
  }
    
#top,#myself,#skill,#music,#game{
    /* ナビバーに隠れてしまうため余白 */
  margin-top: -80px;
  padding-top: 80px;
}

.columns{
  /* font-size: 38px; */
  padding: 15px;
  text-align: center;
}


.moji{
  /* font-size: 38px; */
  text-align: left;
  margin-left: 15px;
  margin-right: 15px;
  /* float: left; */
  /* text-align: right; */
  /* display: block; */
}

.write{
  margin-left: 15px;
}

/* フルスクリーンの書き方 */
/* body {
background: url(https://github.com/masaya-i/test/blob/master/img/faran.gif?raw=true) center center no-repeat fixed;
background-size:cover;
} */

/* .gif {
max-width: 100% ;
height: auto;
} */

/* 自動で画像の大きさをそろえてくれる */
/* 画面サイズに合わせつつ、最大最小を設定した記述 */
.gif{
max-width: 1000px;
width: 100%;
/* margin-left: auto;
margin-right: auto; */
text-align: center;
margin-left: 15px;
margin-right: 15px;
/* display: block; */
}
/* display: inline-block; */
/* float:left; */
/*画像を左にする*/


/* PC用のCSS */
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  #menu-bg {
 /* background-color: #00FFFF; 青色*/
  border-bottom-color: #00FFFF; /*青色*/
  }

  h1{
    border-bottom-color: #00FFFF; /*青色*/
  }
  h2{
    border-bottom-color: #00FFFF; /*青色*/
  }

  /* body {
      background: url(https://github.com/masaya-i/test/blob/master/img/faran.gif?raw=true) center center no-repeat fixed;
      background-size:cover;
    } */
  }

/* タブレット用のCSS */
@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
      #menu-bg {
        border-bottom-color: #FF0000; /*赤色*/
      }
      h1{
        border-bottom-color: #FF0000; /*赤色*/
      }
      h2{
        border-bottom-color: #FF0000; /*赤色*/
      }

      }

/* スマホ用のCSS */
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
          #menu-bg {
            border-bottom-color: #00FF00; /*緑色*/
      }
      h1{
        border-bottom-color: #00FF00; /*緑色*/
      }
      h2{
        border-bottom-color: #00FF00; /*赤色*/
      }
      /* body {
          background: url(https://github.com/masaya-i/test/blob/master/img/pika.jpg?raw=true) center center no-repeat fixed;
          background-size:cover;
        } */
      }

